{% extends "base.html" %}
{% block title %} {{ Title }} {% endblock %}
{% block body %}
<form method="POST">
<table>
    <tr>
        {% for element in data[0] %}
            <th>{{ element }}</th>
        {% endfor %}
    </tr>
    {% for row in data[1:] %}
    <tr>
        {% set pid = row[0] %}
        <td>{{ pid }}</td>
        <td><input type="text" name="name_{{ pid }}" value="{{ row[1] }}"></td>
        <td><input type="number" name="class_{{ pid }}" value="{{ row[2] }}"></td>
        <td>{{ row[3] }}</td>  {# event name, no need to edit here #}
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>  {# school name #}
        <td>
            <input type="checkbox" name="attendance_{{ pid }}" {% if row[6] %}checked{% endif %}>
        </td>
    </tr>
    {% endfor %}
</table>
<input type="submit" value="Update Attendance">
</form>
{% endblock %}
