<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.svg') }}">
        <title>{% block title %}{% endblock %} </title>
    </head>
    <body>
        <div class="page-wrapper">
            {% if uuid %}
                <header>
                    <ul>
                        <li class="user-info">
                            <div class = "accountIndicator">
                                <h>{{ name }}</h><br/>
                                <small>{{ uuid }}</small>
                                <a href="/logout">[log out]</a>
                            </div>
                        </li>
                        <li><a href="/">Home</a></li>
                    </ul>
                </header>
            {% endif %}
            <main class="content">
                {% block body %}BODY{% endblock %}
            </main>
            {% if uuid%}
            <footer>
                <p>Made with ❤️ by <a href="/about">InfoTech</a> @ <a href="https://noida.cambridgeschool.edu.in/">Cambridge School, Noida</a></br>
                <small>Running with pride on <a href="https://archlinux.org/">Arch</a>, btw</small></p>
            </footer>
            {% endif %}
        </div>
    </body>
</html>