{% extends "base.html" %}
{% block title %}Registrations{% endblock %}
{% block body %}
<h2>Enter School ID</h2>
    <form method="POST", target="actionPanel">
        <input type="text" name="sname" list="sname" required>
            <datalist id="sname">
            {% for sname in snames %}
                <option value="{{sname}}">
            {% endfor %}
            </datalist>
        <input type="submit" value="Fetch Participants">
    </form>
    <iframe name="actionPanel" src="/registry/attendance", height="400", width="800"></iframe>
    <script>
        function updateIframe(event) {
            event.preventDefault(); // prevent form submission
            const sid = document.getElementById("sidInput").value;
            const iframe = document.getElementById("actionPanel");
            iframe.src = `/registry/attendance?sid=${encodeURIComponent(sid)}`;
        }
    </script>
{% endblock %}