{% extends "base.html" %}
{% block title %}Registrations{% endblock %}
{% block body %}
<h1>Manage Registrations</h1>
    <div class="manager">
        <div class="vnav">
            <ul>
                <li><a href="/participants/uploaddata" target="actionPanel">Add more data</a></li>
                <li><a href="/registry/attendance" target="actionPanel">Manage attendance</a></li>    
                <form method="POST", target="actionPanel">
                    <li><input type="text" name="sname" list="sname" required>
                        <datalist id="sname">
                        {% for sname in snames %}
                            <option value="{{sname}}">
                        {% endfor %}
                        </datalist></li>
                    <li><input type="submit" value="Fetch Participants"></li>
                </form>
            </ul>
        </div>
        <div class="panel">
            <iframe name="actionPanel" src="/registry/attendance", height="400", width="800"></iframe>
        </div>
    </div>
    <script>
        function updateIframe(event) {
            event.preventDefault(); // prevent form submission
            const sid = document.getElementById("sidInput").value;
            const iframe = document.getElementById("actionPanel");
            iframe.src = `/registry/attendance?sid=${encodeURIComponent(sid)}`;
        }
    </script>
{% endblock %}