{% extends "base.html" %}
{% block title %}{{ event }} Attendance{% endblock %}
{% block body %}
<h2>Mark Attendance for {{ event }}</h2>
<form method="POST">
    <table>
        <tr>
    {% for header in data[0] %}
        {% set i = loop.index0 %}
        {% if i == attInd %}
            <th>Present</th>
        {% else %}
            <th>{{ header }}</th>
        {% endif %}
    {% endfor %}
        </tr>
        {% for row in data[1:] %}
        <tr>
            {% for cell in row %}
                {% set i = loop.index0 %}
                {% if i == attInd %}
                    <td>
                        <input type="checkbox" name="attendance_{{ row[0] }}" {% if cell %}checked{% endif %}>
                        <input type="hidden" name="unchecked_ids" value="{{ row[0] }}" {% if cell %}disabled{% endif %}>
                    </td>
                {% else %}
                    <td>{{ cell }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
    <input type="submit" value="Update Attendance">
</form>
{% endblock %}
